/* ************************************************** */
/* NORMALIZACION */
/* ************************************************** */

* {
  margin: 0;
  padding: 0;
}

/* ************************************************** */
/* DEFINICION DE VARIABLES */
/* ************************************************** */

:root {
  /* GENERAL */
  --scroll-bar-color: #f1c40f;
  --scroll-background: #212529;

  --default-background-color: #212529;
  --default-font-color: whitesmoke;
  --default-color: #f1c40f;

  /* NAVBAR */
  --navbar-background: #212529;
  --navbar-link-hover-color: #f1c40f;

  /* SOBRE MI */
  --sobre-mi-background: teal;

  /* EXPERIENCIA LABORAL */
  --experiencia-laboral-background: whitesmoke;

  /* EDUCACION */
  --educacion-background: lightgrey;

  /* PROYECTOS */
  --proyectos-background: whitesmoke;

  /* CONTACTEMONOS */
  --contactemonos-background: lightgrey;
  --contactemonos-btn: #212529;
  --contactemonos-enviar: whitesmoke;

  /* FOOTER */
  --footer-background: #212529;
}

/* ************************************************** */
/* GOOGLE FONTS */
/* ************************************************** */

.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* ************************************************** */
/* MEDIA QUERIES */
/* ************************************************** */

/* For TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  /* NAVBAR */
  #navbar {
    padding: 0 30px !important;
  }

  /* SOBRE MI */
  #sobre-mi {
    padding: 0 50px !important;
  }

  #sobre-mi .home-img{
    display: none;
  }

  #sobre-mi .home-info{
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* EXPERIENCIA LABORAL */
  #experiencia-laboral {
    padding: 0 50px !important;
  }

  /* EDUCACION */
  #educacion {
    padding: 0 50px !important;
  }

  /* PROYECTOS */
  #proyectos {
    padding: 25px 50px !important;
  }

  .container-slide-proyecto {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 15px !important; /* Espacio entre las columnas */
  }

  /* CONTACTEMONOS */
  #contactemonos {
    padding: 0 50px !important;
  }
  /* FOOTER */
}

/* For MOBILES */
@media (max-width: 767px) {
  /* NAVBAR */
  #navbar {
    padding: 0 10px !important;
  }
  /* SOBRE MI */
  #sobre-mi {
    padding: 0 30px !important;
  }

  #sobre-mi .home-img{
    display: none;
  }

  #sobre-mi .home-info{
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* EXPERIENCIA LABORAL */
  #experiencia-laboral {
    padding: 0 30px !important;
  }

  /* EDUCACION */
  #educacion {
    padding: 0 30px !important;
  }

  /* PROYECTOS */
  #proyectos {
    padding: 25px 30px !important;
  }

  .container-slide-proyecto {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px !important; /* Espacio entre las columnas */
  }

  .card-face {
    border-radius: 10px !important;
  }

  .card-title-proyecto {
    font-size: 11px !important;
  }

  .card-description-proyecto {
    font-size: 11px !important;
  }

  /* CONTACTEMONOS */
  #contactemonos {
    padding: 0 30px !important;
  }

  /* FOOTER */
}

/* ************************************************** */
/* ESTILOS DEFAULT ( ESCRITORIO ) */
/* ************************************************** */

html {
  scrollbar-color: var(--scroll-bar-color) var(--scroll-background);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

/* NAVBAR */
#navbar {
  background-color: var(--navbar-background);
  padding: 0 50px;
}

.nav-link:hover {
  color: var(--navbar-link-hover-color) !important;
  transition: 0.3s;
}

/* SOBRE MI */
#sobre-mi {
  background-color: var(--sobre-mi-background);
  color: var(--default-font-color);

  padding: 0 70px;

  min-height: calc(100vh - 56px);
  display: flex;
}

.container {
padding: 45px 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.boton {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--default-color);
  transition: all 0.3s ease;
  
}

.boton:hover {
  transform: scale(1.05);
}

.home-info{
  flex: 0 0 60%;
  max-width: 60%;
  margin: 15px 0;
}

h3.hola {
  font-size: 28px;
}

h3.hola span {
  font-family:fantasy;
  font-size: 30px;
  font-weight: 500;
  color: var(--default-color)
}

h3.mi-profesion {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  font-family:fantasy;
  /* color: var(--default-color) */
}

.home-info p{
  margin-bottom: 70px;
  font-size: 20px;
}

.home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

#sobre-mi .home-img img{
  height: 400px;


}

/* EXPERIENCIA LABORAL */
#experiencia-laboral {
  background-color: var(--experiencia-laboral-background);

  padding: 0 70px;

  min-height: calc(100vh - 56px);
}

/* EDUCACION */
#educacion {
  background-color: var(--educacion-background);

  padding: 0 70px;

  min-height: calc(100vh - 56px);
}

/* PROYECTOS */
#proyectos {
  background: var(--proyectos-background);

  padding: 25px 70px;
}

.container-slide-proyecto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Espacio entre las columnas */
}

.row-proyecto {
  display: contents; /* Para que las columnas se alineen correctamente */
}

.col-proyecto {
  flex: 1; /* Para que las columnas ocupen todo el espacio disponible */
  padding: 0; /* Para eliminar el relleno predeterminado de Bootstrap */
}

.card-proyecto {
  width: 100%;
  aspect-ratio: 480 / 270;
  border: solid 0px black !important;
  background: none !important;
}

.card-img-proyecto {
  width: 100%;
}

.card-title-proyecto {
  color: var(--default-color);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s;

  border-radius: 15px;
}

.card-back {
  transform: perspective(600px) rotateY(180deg);
  background: var(--default-background-color);
  color: var(--default-font-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  box-shadow: 0 0 30px var(--default-color);
}

.card:hover .card-back {
  transform: perspective(600px) rotateY(360deg);
}

.carousel-indicators {
  position: static !important;
  filter: invert(108%) !important;
}

/* CONTACTEMONOS */
#contactemonos {
  background-color: var(--contactemonos-background);

  padding: 0 70px;

  min-height: calc(100vh - 56px);
}

.title-contact {
  text-align: center;
  margin: 30px;
}


#contactemonos form div {
  margin-bottom: 15px;
}

#contactemonos form label {
  display: block;
  margin-bottom: 5px;
}

#contactemonos form input[type="text"],
#contactemonos form input[type="email"],
#contactemonos form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contactemonos form textarea {
  height: 150px;
}

#contactemonos form button {
  
  padding: 10px 20px;
  background-color: var(--contactemonos-btn);
  color: var(--contactemonos-enviar);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-form {
  text-align: center;
}

#contactemonos h6 {

  margin-bottom: 30px;
}

/* FOOTER */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--footer-background);
  color: var(--default-font-color);

  height: 56px;

  margin-top: auto; /* Esto empujará el último elemento hacia abajo */
}
